{% extends "base.html" %}
{% from "macros/form_field.html" import form_field %}
{% block content_title %}Login{% endblock %}
{% block content %}
<form action="{{ url_for('login', next=request.args.get('next','')) }}" class="form form-horizontal" method="post">
{{ form_field(form.email) }}
{{ form_field(form.password) }}
<div class="form-group" style="width: 415px;margin: 10px auto;"  >
    <div class="col-sm-offset-3 col-sm-9">
        <div class="checkbox">
            <label>{{ form.remember_me() }} Remember me</label>
        </div>
    </div>
</div>
<div class="form-group" style="width: 415px;margin: 10px auto;" >
    <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="button12 green">Log in</button>
        <button type="cancel" class="button12 orange"><a href="{{ url_for('homepage') }}">Cancel</a></button>
    </div>
</div>
</form>
{% endblock %}
